$off-white: #F2ECD7
$black: #4A4A4A
$white: #ffffff
$iu-crimson: #990000
$stone: #4A4A4A
$terracotta: #BC7A5A
$espresso: #4E342E
$blue: #3F5E78
$red: #A64B42
$green: #4B7F52
$soft-beige: #E8D8C3
$orange: #D17C45
$linkedin-blue: #0077B5
$orcid-green: #a5cc39
