h1
  font-family: "Bungee Shade", Arvo, serif
  //font-weight: bold
  color: $iu-crimson

h2, h3, h4, h5, h6
  font-family: Capriola, sans-serif

h1
  font-size: 2.5rem
  line-height: 120%


h2
  font-size: 2rem
  line-height: 120%

body
  font-family: "Source Sans 3", sans-serif
  color: $black

