---
layout: "wrapper"
title: "Meet the People"
---

<div class="people">
  <!-- 'section' for the current members of the team. -->
  <section class="current-members py-4">
    <div class="container d-flex align-items-center flex-column">
      <h1>Faculty Leaders</h1>
      <div class="current-members d-flex justify-content-center flex-wrap mt-5 mb-3">
        {% for person in site.data.people %}
        {% if person.current == true and person.position == "Faculty Founder" %}
        <div class="polaroid d-flex flex-column shadow">
          <div class="row">
            <img
              src="assets/images/headshots/{% if person.headshot %}{{ person.headshot }}{% else %}placeholder-headshot.png{% endif %}"
              alt="{{ person.name }}"
              class="img-fluid headshot"
            />
          </div>
          <div class="row polaroid-text">
            <div class="col-8 polaroid-text">
              <h2>{{ person.name }}</h2>
              <span class="pronouns">({{ person.pronouns }})</span><br />
              <span class="position">{{ person.position }}</span><br />
              <!--<span class="title">{{ person.title }}</span><br />
              <span class="school">{{ person.school }}</span><br />-->
            </div>
            <div class="col-4 polaroid-icons">
              {% if person.linkedin %}
              <a href="{{ person.linkedin }}" class="linkedin-icon">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              {% endif %}
              {% if person.website %}
              <a href="{{ person.website }}" class="external-site-icon">
                <i class="fa-solid fa-globe"></i>
              </a>
              {% endif %}
              {% if person.iuprofile %}
              <a href="{{ person.iuprofile }}" class="iuprofile-icon">
                <i class="fa-solid fa-address-card"></i>
              </a>
              {% endif %}
              {% if person.orcid %}
              <a href="{{ person.orcid }}" class="orcid-icon">
                <i class="fa-brands fa-orcid"></i>
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    <h1>Students</h1>
      <div
        class="other-members d-flex justify-content-center flex-wrap mt-5 mb-3"
      >
        <!-- Liquid 'for' loop iterating thru the 'people' data file and creating a similar layout for each person marked as a current member. -->
        <!-- Similar layout as before, but the data is dynamically inserted using Liquid tags. -->
        <!-- Checks if the person has a linked headshot picture, uses a generic default if not. -->
        <!-- Also checks if the person has a LinkedIn profile or personal website, and includes the icons if they do. -->
        {% for person in site.data.people %} {% if person.current == true and person.position == "Graduate Research Assistant" %}
        <div
          class="polaroid d-flex flex-column align-items-center justify-content-center shadow"
        >
          <div class="row">
            <img
              src="assets/images/headshots/{% if person.headshot %}{{ person.headshot }}{% else %}placeholder-headshot.png{% endif %}"
              alt="{{ person.name }}"
              class="img-fluid headshot"
            />
          </div>
          <div class="row">
            <div class="col-8 polaroid-text">
              <h2>{{ person.name }}</h2>
              <span class="lab-position"> {{ person.position }}</span>
            </div>
            <div class="col-4 polaroid-icons d-flex justify-content-end">
              {% if person.linkedin %}
              <a href="{{ person.linkedin }}" class="linkedin-icon">
                <img
                  src="assets/images/icons/linkedin.svg"
                  alt="LinkedIn logo"
                />
              </a>
              {% endif %} {% if person.website %}
              <a href="{{ person.website }}" class="external-site-icon">
                <img
                  src="assets/images/icons/external.svg"
                  alt="External website logo"
                />
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </section>
</div>


