---
permalink: /scholarship.html
layout: wrapper
title: "CAFE Lab Scholarship"
---

{% assign sorted-scholarship = site.data.scholarship | sort: "date" %}
{% for output in sorted-scholarship %}
{% if output.type == "presentation" %}
<h1><i class="fa-solid fa-layer-group"></i> Conference Presentations and Papers</h1>
  <ul>
  <li>{{ output.citation }}<img
  class="project-logo"
  src="{{ output.logo }}"
  alt="{{ output.project }} logo"
  style="width: 50px; height: 50px;"
/></li>
  </ul>
{% endif %}
{% endfor %}