---
permalink: /scholarship.html
layout: wrapper
title: "CAFE Lab Scholarship"
---

<div class = "outputs">
{% assign sorted-scholarship = site.data.scholarship | sort: "date" %}

<section class = "presentations py-4">
  <h1><i class="ti ti-file-description" style="font-size: 1.2rem; margin-right: 2rem;"></i> Journal Publications</h1>
{% for output in sorted-scholarship %}
{% if output.type == "publication" %}
  <div class = "scholarship-item">{{ output.citation }}<img
  class="project-logo"
  src="{{ output.logo }}"
  alt="{{ output.project }} logo"
  style="width: 25px; height: 25px;"
/></div>
{% endif %}
{% endfor %}
</section>

{% for output in sorted-scholarship %}
{% if output.type == "presentation" %}
<section class="publications py-4">
  <h1><i class="ti ti-presentation-analytics" style="font-size: 1.2rem; margin-right: 2rem;"></i> Conference Presentations and Papers</h1>
  <ul>
  <li>{{ output.citation }}<img
  class="project-logo"
  src="{{ output.logo }}"
  alt="{{ output.project }} logo"
  style="width: 25px; height: 25px;"
/></li>
  </ul>
</section>
{% endif %}
{% endfor %}

</div>