.people
  h1
    text-align: center
    font-size: 2rem

  section
    &:nth-child(even)
      background-color: $soft-beige

    &:nth-child(odd)
      background-color: $soft-beige

  .current-members

    .polaroid
      background: $white
      padding: 1rem
      margin: 1rem

      .row
        width: 100%
        //margin: 1rem
        margin: 0 auto
        padding: 0

        .headshot
          //max-width: 350px
          //padding: 0 0 0rem 0
          max-width: 250px
          padding: 0.5rem 0.5rem 0.5rem 0.5rem

        .polaroid-text
          padding-left: 0
          h2
            font-size: 1.5rem
            font-weight: bold
            color: $espresso
            margin-bottom: 0
        .polaroid-icons
          padding-right: 0
          a
            font-size: 1.5rem
            margin-right: 0.5rem
          //a img
          //  height: 24px
          //  margin-left: 0.75em
          a.linkedin-icon
            color: $linkedin-blue
    .other-members .polaroid
      margin: 0.5rem

  .alumni
    .container
      width: 50%
      margin-top: 1rem
      text-align: center

      h2
        margin-bottom: 1.5rem
        font-size: 1rem
        color: $red
        margin-bottom: 1rem

        &:nth-child(even)
          color: $red
