.projects
  section
    width: 100%
    &:nth-child(even)
      background-color: $soft-beige

    &:nth-child(odd)
      background-color: $soft-beige

    h1
      font-size: 2rem
      line-height: 120%
      text-align: center
      color: $espresso

      @media screen and (max-width: 768px)
        font-size: 1.75rem

    .project-item
      width: 65%
      margin: 0 auto
      .project-description
        h2
          color: $red
          text-transform: uppercase
          text-align: center
          font-size: 1.5rem
      
      .project-logo
        max-width: 250px
        object-fit: cover
        margin: 0 auto 0.25rem auto
